@mixin button-styles {
  background-color: $function-button;
  color: $function-button-text;

  &:active {
    background-color: $function-button-pressed;
  }
}

button {
  width: 5.5rem;
  height: 5.5rem;
  border-radius: 3rem;
  border: none;
  outline: none;
  font-size: 2.5rem;
  transition: 0.3s background-color;

  &:hover {
    cursor: pointer;
  }

  &.function,
  &.operation {
    @include button-styles();
  }

  &.number,
  &.period,
  &.zero {
    @include button-styles();

    color: $number-button-text;
  }

  &.equals {
    background-color: $solve-button;
    color: white;
    width: 12.5rem;

    &:active {
      background-color: $solve-button-pressed;
    }
  }
}
