.calc-container {
    background-color: $calc-background;
    width: 32rem;
    min-width: 32rem;
    height: 56rem;
    min-height: 56rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    .components-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: calc(100% - 3rem);
        height: calc(100% - 7rem);
        margin-top: 3rem;
        & > * {
            margin-bottom: 2rem;
        }
    }
}