$body-background: #494241;
$calc-background: #E8E8E8FF;
$screen-background: #FAFAFAFF;

$solution-line-text: #CACACAFF;
$answer-line-text: #888888FF;

$function-button: #F9CC76FF;
$number-button: #D2D2D2FF;
$solve-button: #FFBA34FF;